*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  box-sizing: border-box;
  background-color: var(--tui-background-base-alt);
}
tui-root .t-root-content{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: var(--tui-background-base-alt);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.formMain {
  align-items: center;
}
tui-chip {
  margin: 0.5rem;
}
